<ion-header>
  <ion-navbar>
    <ion-title>
      {{service.name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="flex-container">
  <div class="flex-container">
    <img src="assets/imgs/{{service.icon}}" class="flex-item">
    <div class="flex-item"><span>Nombre:</span> {{service.name}}</div>
    <div class="flex-item"><span>Telefono:</span> {{service.telephone}}</div>
    <div class="flex-item"><span>Puntuacion:</span> <ion-icon name="star" item-end small>{{service.stars}}</ion-icon></div>
    <div class="flex-item flex-container" style="flex-grow: 1; justify-content: flex-start; width: 100%;">
      <div class="flex-item"><span>Pedidos armados</span></div>
      <p *ngIf="orders.length<1">Todavia no tienes ningun pedido armado</p>
      <ion-list style="width: 100%;">
        <ion-item *ngFor="let order of orders" style="width: 100%;">
          <ion-icon name="trash" item-start (click)="confirmDeletion(order.name)"></ion-icon>
          <h2 (click)="loadOrder(order.id)">{{order.name}}</h2>
          <p>{{order.description}}</p>
        </ion-item>
      </ion-list>
    </div>
    <!--<ion-fab class="add" right bottom><button ion-fab (click)="addOrder()"><ion-icon name="add"></ion-icon></button></ion-fab>-->
  </div>
</ion-content>
