<ion-header>
  <ion-navbar>
    <ion-title>
      {{purchase.name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="flex-container">
  <div class="flex-container">
    <img src="assets/imgs/{{service.icon}}" class="flex-item">
    <div class="flex-item"><span>Estado:</span> {{purchase.status}}</div>
    <div class="flex-item"><span>Pedido:</span> {{purchase.when}}</div>
    <div class="flex-item" *ngIf="purchase.delivery"><span>Entregado:</span> {{purchase.delivery}}</div>
    <div class="flex-item" *ngIf="!purchase.delivery"><span>Entrega pendiente</span></div>
    <div class="flex-item"><span>Origen:</span> {{purchase.from}}</div>
    <div class="flex-item flex-container" style="flex-grow: 1; justify-content: flex-start; width: 100%;">
      <div class="flex-item"><span>Productos incluidos</span></div>
      <ion-list style="width: 100%;">
        <ion-item *ngFor="let product of products" style="width: 100%;">
          <h2>{{product.amount}} x {{product.name}}</h2>
          <p>${{product.price}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
